@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari, and Edge */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* IE and old Edge */
}

html,
body {
  background-color: #000;
  overscroll-behavior: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
}